[submodule "flecs-polyglot"]
	path = libs/flecs-polyglot
	url = https://github.com/flecs-hub/flecs-polyglot.git
	branch = main

[submodule "cimgui"]
	path = crates/toxoid_sokol/lib/cimgui
	url = https://github.com/cimgui/cimgui.git
	branch = docking_inter

[submodule "spine"]
	path = crates/toxoid_sokol/lib/spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes.git
	branch = 4.1

[submodule "sokol"]
	path = crates/toxoid_sokol/lib/sokol
	url = https://github.com/floooh/sokol.git
	branch = master

[submodule "sokol_gp"]
	path = crates/toxoid_sokol/lib/sokol_gp
	url = https://github.com/edubart/sokol_gp.git
	branch = master
